{% extends 'base.html.twig' %}

{% block main %}
<form action="/posts" method="post">
    <div class="mb3">
        <label for="title" class="form-label">Intitulé</label>
        <input name="title" type="text" class="form-control" id="title" aria-describedby="titleHelp" required>
        <div id="titleHelp" class="form-text">Indiquez au message un intitulé qui accroche.</div>
    </div>
    <div class="mb-3">
        <label for="body" class="form-label">Message</label>
        <textarea name="body" id="" cols="30" rows="10" class="form-control" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Envoyer</button>
</form>
{% endblock %}